
/* COMMON 공통 CSS */

body{
    overflow-x: hidden;
}
section{
    position: relative;
}
a{
    color: #4c4c4c;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: -.3px;
    
}
button{
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    background-color: transparent;
    cursor: pointer;
}
input{
    outline: none;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.inner{
    position: relative; 
    max-width: 1050px; 
    margin: 0 auto;
    box-sizing: border-box;
}
.next{  
    text-indent: -9999px;
    font-size: 0;
}
.next::before,
.next::after{ 
    content: '';
    display: block;
    height: 1px;
    width: 12px;
    background-color: #fff;
}
.next::before{
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.next::after{
    transform: rotate(-45deg);
    transform-origin: 90% 0;
}

  

/* HEADER CSS */

.section .bnr_header{
    position: relative; 
    height: 42px; 
    background-color: #5f0080;
}
.section .bnr_header a{
    color: #fff;
    font-size: 14px;
}
.section .bnr_header a .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .bnr_header a .inner .bnr_title{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.section .bnr_header a .inner .bnr_title + .next::before, 
.section .bnr_header a .inner .bnr_title + .next::after{
    width: 8px;
    background: rgba(255,255,255,0.5);
}
.section .bnr_header a .inner .bnr_btn{
    position: absolute;
    top: 2.5px;
    right: 0;
}
.section .bnr_header a .inner .bnr_btn .next::before, 
.section .bnr_header a .inner .bnr_btn .next::after{
    width: 15px;
    background: rgba(255,255,255,0.5);
}
.section .bnr_header a .inner .bnr_btn .next::before{
    transform-origin: 8% 900%;
} 
.section .bnr_header a .inner .bnr_btn .next::after{
    transform-origin: -10% -900%;
}
.section .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}
.section .nav a img{
    width: 163px;
    height: 22px;
}
.section .nav .user-menu {
    display: flex;
}
.section .nav .user-menu .menu-join{
    color: #5f0080;
}
.section .nav .user-menu .link-menu{
    padding: 0 10px;
    box-sizing: border-box;
}
.section .nav .user-menu li .link-menu::after{
    content: "";
    float: right;
    width: 1px;
    height: 13px;
    margin-top: 4px;
    background-color: #d8d8d8;
    box-sizing: border-box;
}
.section .nav .user-menu .menu-center{
    padding: 10px;
    box-sizing: border-box;
}
.section .nav .user-menu .menu-center::before{
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 8px;
    height: 5px;
    background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png) no-repeat 0 0;
}
.section .nav .user-menu .menu__sub{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 10.2%;
    right: 0;
    padding: 3px 9px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #fff; 
}
.section .nav .user-menu .menu__sub li a{
    line-height: 24px;
}
.section .logo{
    position: relative;
    height: 63px;
    display: flex;
    justify-content: center;
}
.section .logo img{
    position: absolute;
    width: 103px;
    height: 79px; 
    top: -25px;
}
.section .gnb-menu{
    /* position: fixed;  */
    z-index: 9999;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #fff; 
    border-bottom: 1px solid #e5e5e5;
}
.section .gnb-menu .inner{
    display: flex;
    justify-content: space-between;
}
.section .gnb-menu .gnb--left,
.section .gnb-menu .gnb--right{
    display: flex;
    align-items: center;
}
.section .gnb-menu .gnb--left{
    /* flex-grow: 1; */
}
.section .gnb-menu .gnb--left .gnb-btn{ 
    width: 30px;
    height: 14px;
}
.section .gnb-menu .gnb--left .gnb-btn .ico{
    display: block;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    margin-bottom: 4px;
    background-color: #333;
}
.section .gnb-menu .gnb--left .gnb-btn:hover .ico{
    background-color: #5f0080;
}

.section .gnb-menu .gnb--left .gnb__list{
    display: flex;
}
.section .gnb-menu .gnb--left .gnb__list li{
    padding-right: 3.63em;
    box-sizing: border-box;
}
.section .gnb-menu .gnb--left .gnb__list li:hover a span{
    color: #5f0080;
}
.section .gnb-menu .gnb--left .gnb__list li a span{
    font-size: 16px;
    color: #333;
    line-height: 20px;
}
.section .gnb-menu .gnb--right .side_search{
    padding-right: 20px;
    box-sizing: border-box;
}
#search{
    display: flex;
    position: relative;
    align-items: center;
}
#search input{
    width: 238px;
    height: 36px;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
}
#search button{
    position: absolute;
}
#search .res-btn{
    right: 25px;
}
#search .sear-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}
#search .sear-btn img{
    width: 30px;
    height: 30px;
}
.section .gnb-menu .gnb--right .location-btn{
    padding: 0 21px;
    background-image: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1);
}
.section .gnb-menu .gnb--right .cart_btn{
    display: block;
    width: 36px;
    height: 36px;
    padding-left: 20px;
    box-sizing: border-box;
    background: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%;
}


/* GNB_SUB */
.section .gnb-menu .gnb__sub{
    width: 20%;
    height: 540px;
    position: absolute;
    z-index: 9999;
    top: 45px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-right: none;
    overflow: auto;
}
.section .gnb-menu .gnb__sub .sub-menu{
    width: 100%;
}
.section .gnb-menu .gnb__sub .sub-menu > li{
    display: flex;
    align-items: center;
    padding: 10px;
}
.section .gnb-menu .gnb__sub .sub-menu > li img{
    width: 25px;
    padding-right: 10px;
}
.section .gnb-menu .gnb__sub .sub-menu > li > a,
.section .gnb-menu .sub-menu__in > li > a{
    font-size: 14px;
    letter-spacing: -1.5px;
    font-weight: 500;
}
.section .gnb-menu .sub-menu__in{
    position: absolute;
    z-index: 9999;
    width: 20%;
    left: 210px;
    top: 47px;
    background: #f7f7f7;
}
.section .gnb-menu .sub-menu__in > li{ 
    padding: 10px 20px;
}


/* MAIN-VISUA */
.main-visua .main__img{
    position: relative; 
    height: 484px; 
    background: url(https://res.kurly.com/images/event/join/200115/pc/img_main.jpg) no-repeat 50% 0;
}
.main-visua .main__img .inner{
    height: 484px;
}
.main-visua .main__img .main__btn{
    position: absolute; 
    top: 60%;
    width: 300px;   
    text-align: center;

}
.main-visua .main__img .main__btn .title{
    display: inline-flex;
    align-items: center; 
    background: #5f0080;
    border-radius: 30px;
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 1px 10px 15px #9b9898;
}
.main-visua .main__img .main__btn .title .main-title{
    color: #fff;
    font-size: 22px;
    padding: 0 5px;
    box-sizing: border-box;
}
.main-visua .main-buttom{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(126,123,124,0.8);
}
.main-visua .main-buttom .inner{
    
}
.main-visua .main-buttom .inner .buttom__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-visua .main-buttom .inner .buttom__btn li{ 

}
.main-visua .main-buttom .inner .buttom__btn::before,
.main-visua .main-buttom .inner .buttom__btn::after{
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 50%; 
    transform: translateY(-50%);
    background-color: #ddd;
}
.main-visua .main-buttom .inner .buttom__btn::before{
    right: 0;
}
.main-visua .main-buttom .inner .buttom__btn ::after{
    left: 0;
}
.main-visua .main-buttom .inner .buttom__btn li a{
    display: block;
    padding: 25px 60px;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: -2px;
}